<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="p1OkulSistemi.Properties.Settings.p1OkulSistemiConnectionString"
            connectionString="Data Source=DESKTOP-23T2RIK\SQLEXPRESS;Initial Catalog=p1OkulSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>